*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(img2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; 
}
.box{
  background-color: rgba(64, 152, 207, 0.2);
  height: 54.9px;
  width: 100%;
}
.nav-wrapper{
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  width: 950px;
  display: flex;
  justify-content: center;
  z-index: 1000;
  gap:3px;
}
.navbar{
width: 100%;
margin: 50px auto ;
height: 70px;
position: relative;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: rgba(64, 152, 207, 0.2);
  padding: 0px 40px;

  border-bottom-left-radius:25px ;
  border-bottom-right-radius:25px ;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);

}




