@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rokkitt:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: url(img2.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed; 
}
.box{
  /*background-color: rgb(0, 157, 255);*/
background: #1b3b6b;
backdrop-filter: blur(15px);
-webkit-backdrop-filter: blur(15px);
  border: none;
  height: 54.9px;
  width: 100%;
}
.nav-wrapper{
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);

  width: 950px;
  display: flex;
  justify-content: center;
  z-index: 1000;
  gap:3px;
}
.navbar{
width: 100%;
margin: 50px auto ;
height: 70px;
position: relative;
display: flex;
align-items: center;


  background:  #1b3b6b;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: none;
  border-bottom: 2px solid rgba(5, 99, 214, 0.5);
  border-left: 2px solid rgba(7, 154, 212, 0.5);
  border-right: 2px solid rgba(7, 154, 212, 0.5);
  padding: 0px 40px;
  border-bottom-left-radius:25px ;
  border-bottom-right-radius:25px ;


}
.navlinks{
 display: flex;
 justify-content: space-evenly;
 flex-wrap: nowrap;
 gap: 2rem;
 color: azure;
  
}
.navlinks a{
  color: #C9D6E2;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
}
.logo{
  display: flex;
  left: 50%;
  transform: translateX(195%);
  color: #C9D6E2;
  font-family: "Rokkitt", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
}
.right{
   transform: translateX(370%);

}







